.header__lang-link {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    text-decoration-line: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}