.place__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    grid-row: 1;
    grid-column: 1;
    margin: 0;
    max-width: 460px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        padding: 0 16px;
        box-sizing: border-box;
        width: 100%;
        max-width: 550px;
    }
}