.places {
    max-width: 984px;
    display: grid;
    margin: 92px 0;
    gap: 80px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .places {
        max-width: 928px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .places {
        width: 100%;
        margin: 88px 0 90px;
        padding: 0 24px;
        box-sizing: border-box;
        gap: 73px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .places {
        width: 100%;
        margin: 64px 0 66px;
        gap: 50px;
    }
}