.footer__link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    text-decoration-line: none;
    margin: 0 18px 0 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
        margin: 32px 0 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer__link:first-of-type {
        margin: 0;
    }
}

.footer__link:hover {
    opacity: .8;
}