.intro {
    margin: 92px 0;
    max-width: 984px;
    padding-right: calc(984px - 690px);
    box-sizing: border-box;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .intro {
        max-width: 928px;
        padding-right: calc(928px - 690px);
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .intro {
        width: 100%;
        margin: 88px 0;
        padding: 0 24px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .intro {
        width: 100%;
        margin: 64px 0;
        padding: 0 16px;
    }
}