.lead__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    max-width: 640px;
    text-align: center;
    margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        max-width: 288px;
    }
}