.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    width: 560px;
    text-align: center;
    margin: 0 0;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
    .cover__title {
        width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
}