.place {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 48px 40px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .place {
        gap: 48px 32px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place {
        gap: 48px 28px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .place {
        grid-template-columns: auto;
        grid-template-rows: repeat(4, auto);
        gap: 32px;
        width: 100%;
        justify-items: center;
    }
}