@import url(../fonts/Inter\ Web/inter.css);
@import url(../vendor/normalize.css);

.page {
    min-width: 1024px;
    max-width: 1280px;
    margin: 0;
    font-family: Inter;
    color: #fff;
    background-color: #2A2C2F;

}

.page-big {
    background-color: #2A2C2F;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header__logo {}

.header__lang-link {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

}

.header__lang-link:active {
    text-decoration-line: underline;
}

.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lead__title {
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;

}

.lead__subtitle {
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
}

.lead__image {
    width: 984px;
    height: 615px;
}

.caption {
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.intro {}

.intro__title {
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    width: 690px;
    height: 58px;
}

.intro__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    width: 690px;
    height: 208px;
}

.intro__list {
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    width: 690px;
    height: 90px;
}

.intro__list_item {}

.photo-grid {
    width: 1184px;
    height: 671px;
}

.photo-grid__item {
    width: 284px;
    height: 213px;
}


.places {
    width: 984px;
}

.place {}

.place__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    width: 460px;
    height: 152px;
}

.place__image {
    width: 460px;
    height: 460px;
}

.place__website {

    width: 456px;
    height: 46px;
}


.place__url-heading {
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    height: 12px;
}

.place__link {
    height: 22px;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
}

.place__paragraph {
    width: 484px;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
}

.cover {
    width: 1184px;
    height: 740px;
}

.cover__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    width: 560px;
    height: 152px;
}

.cover__subtitle {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    width: 360px;
    height: 66px;

}

.cover__overlay {}

.cover__background {}

.footer {
    width: 1184px;
    height: 18px;
}

.footer__link {
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

.footer__copyright {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}