@import url(../fonts/Inter\ Web/inter.css);
@import url(../vendor/normalize.css);

.page {
    min-width: 1024px;
    max-width: 1280px;
    margin: 0;
    font-family: Inter;
    color: #fff;
    background-color: #2A2C2F;

}

.page-big {
    background-color: #2A2C2F;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 1184px;
    height: 52px;
    margin: 28px auto 0;
}

.header__logo {
    width: 176px;
    height: 52px;
}

.header__lang-link {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
}

.header__lang-link:active {
    text-decoration-line: underline;
}

.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 984px;
    margin: 0 auto;
}

.lead__title {
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    width: 720px;
    height: 200px;
    text-align: center;
    margin: 56px 0 32px;
}

.lead__subtitle {
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    width: 640px;
    height: 72px;
    text-align: center;
    margin: 0 0;
}

.lead__image {
    width: 984px;
    height: 615px;
    margin: 64px auto 8px;
}

.caption {
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    align-self: start;
    margin: 0;
}

.intro {
    padding: 92px 0;
}

.intro__title {
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    width: 690px;
    height: 58px;
    margin: 0;
}

.intro__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    width: 690px;
    height: 208px;
    margin: 40px 0 33px;
}

.intro__list {
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    width: 690px;
    height: 90px;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

.intro__list_item {}

.photo-grid {
    width: 1184px;
    height: 671px;
}

.photo-grid__item {
    width: 284px;
    height: 213px;
}


.places {
    width: 984px;
}

.place {
    display: flex;
    flex-direction: column;

}

.place__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    width: 460px;
    height: 152px;
}

.place__image {
    width: 460px;
    height: 460px;
}

.place__website {

    width: 456px;
    height: 46px;
}


.place__url-heading {
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    height: 12px;
    color: #aaa;
}

.place__link {
    height: 22px;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #fff;
}

.place__paragraph {
    width: 484px;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
}

.cover {
    width: 1184px;
    height: 740px;


}

.cover__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    width: 560px;
    height: 152px;
}

.cover__subtitle {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    width: 360px;
    height: 66px;

}

.cover__overlay {}

.cover__background {
    width: 100%;
    height: 100%;
    background-image: url(../images/cover-trains.jpg);

}

.footer {
    width: 1184px;
    height: 18px;
}

.footer__link {
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    text-decoration-line: none;
}

.footer__copyright {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}