@import url(../fonts/Inter\ Web/inter.css);
@import url(../vendor/normalize.css);

.page {
    margin: 0;
    font-family: Inter;
    color: #fff;
    background-color: #2A2C2F;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .header {
    display: flex;
    justify-content: space-between;
    width: 1184px;
    min-height: 52px;
    margin: 28px 0 0;
    padding: 0 48px;
    box-sizing: border-box;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .header {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header {
        padding: 0 24px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .header {
        padding: 0 16px;
    }
}

.header__logo {
    width: 176px;
    height: 52px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .header__logo {
        width: 142px;
        height: 42px;
    }
}

.header__lang-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
    align-items: center;
}

.header__lang-link {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    text-decoration-line: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}

.header__lang-link_active {
    text-decoration-line: underline; */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 1184px;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .content {
        width: 100%;
    }
}

.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 984px;
    min-width: 984px;
    margin: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .lead {
        min-width: 928px;
        max-width: 983px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .lead {
        min-width: 768px;
        max-width: 927px;

    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .lead {
        min-width: 320px;
        max-width: 767px;

    }
}

.lead__title {
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    width: 720px;
    text-align: center;
    margin: 56px 0 32px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .lead__title {
        margin: 48px 0 32px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .lead__title {
        margin: 48px 0 32px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
        width: 288px;
        margin: 48px 0 16px;
    }
}

.lead__subtitle {
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    width: 640px;
    text-align: center;
    margin: 0 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        width: 288px;
    }
}

.lead__image {
    width: 100%;
    height: 615px;
    margin: 64px auto 8px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .lead__image {
        height: 580px;
        margin: 56px auto 8px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .lead__image {
        height: 480px;
        margin: 56px auto 8px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .lead__image {
        width: 100%;
        height: 200px;
        margin: 40px auto 8px;
    }
}

.caption {
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    align-self: start;
    margin: 0;
}

/* .intro {
    margin: 0;
    padding: 92px 0;
    width: 984px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .intro {
        width: 928px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .intro {
        padding: 88px 0;
        width: 720px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .intro {
        padding: 64px 0;
        width: 288px;
    }
}

.intro__title {
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    width: 690px;
    margin: 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .intro__title {
        width: 100%;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .intro__title {
        width: 100%;
        font-size: 32px;
        line-height: 35px;
    }
}

.intro__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    width: 690px;
    margin: 40px 0 33px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .intro__text {
        width: 100%;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .intro__text {
        width: 100%;
    }
}

.intro__list {
    width: 690px;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .intro__list {
        width: 100%;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .intro__list {
        width: 100%;
    }
}


.intro__list_item {
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
} */

/* .photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 284px);
    grid-template-rows: repeat(3, 213px);
    gap: 16px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .photo-grid {
        display: grid;
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: repeat(4, 225px);
        gap: 14px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .photo-grid {
        display: grid;
        grid-template-columns: 352px 352px;
        grid-template-rows: repeat(6, 264px);
        gap: 16px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .photo-grid {
        display: grid;
        grid-template-columns: 288px;
        grid-template-rows: repeat(12, 216px);
        gap: 12px;
    }
}

.photo-grid__item {
    width: 100%;
    height: 100%;
} */

/* .places {
    width: 984px;
    display: grid;
    margin: 0;
    padding: 92px 0 0;
    gap: 80px;
} 

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .places {
        width: 928px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .places {
        width: 720px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .places {
        width: px;
    }
}

.place {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 48px 40px;
}

.place__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    grid-row: 1;
    grid-column: 1;
    margin: 0 0;
}

.place__image {
    width: 460px;
    height: 460px;
    grid-row: 2;
    grid-column: 1;
}

.place__website {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.place__url-heading {
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #aaa;
    margin: 0;
}

.place__link {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #fff;
    margin-top: 12px;
}

.place__link:hover {
    opacity: .8;
}

.place__paragraphs {
    width: 484px;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    grid-row: 2;
    grid-column: 2;
}

.place__paragraph {
    margin: 0 0 26px;
} */


/* .cover {
    width: 1184px;
    min-height: 740px;
    margin: 92px 0;
    padding: 92px 0; 
    position: relative;
}

.cover__link {
    color: #fff;
    text-decoration: none;
}

.cover__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    width: 560px;
    z-index: 3;
    text-align: center;
    margin: 0 0;
}

.cover__subtitle {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    width: 360px;
    z-index: 3;
    text-align: center;
    margin: 32px 0 0;
}

.cover__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background-color: rgba(41, 43, 46, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cover__overlay:hover {
    background-color: rgba(41, 43, 46, 0.8);
}

.cover__background {
    width: 100%;
    height: 100%;
    background-image: url(../images/cover-trains.jpg);
    position: absolute;
    z-index: 1;
    background-size: cover;
} */

/* .footer {
    width: 1184px;
    min-height: 18px;
    display: flex;
    margin: 0 0 24px;
    padding: 0 48px;
    box-sizing: border-box;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .footer {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .footer {
        padding: 0 24px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer {
        padding: 0 16px;
        flex-direction: column;
    }
}

.footer__link {
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    text-decoration-line: none;
    margin: 0 18px 0 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
        margin: 32px 0 0;
    }
}

.footer__link:hover {
    opacity: .8;
}

.footer__copyright {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer__copyright {
        line-height: 14px;
        margin: 48px 0 0;
    }
} */