@import url(../fonts/Inter\ Web/inter.css);
@import url(../vendor/normalize.css);

.page {
    margin: 0;
    font-family: Inter;
    color: #fff;
    background-color: #2A2C2F;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 1280px;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 1184px;
    min-height: 52px;
    margin: 0 auto;
    padding: 28px 0 0;
}


.header__logo {
    width: 176px;
    height: 52px;
}

.header__lang-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
}

.header__lang-link {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    text-decoration-line: none;
}

.header__lang-link_active {
    text-decoration-line: underline;
}

.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 984px;
    margin: 0 auto;
}

.lead__title {
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    width: 720px;
    text-align: center;
    margin: 56px 0 32px;
}

.lead__subtitle {
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    width: 640px;
    text-align: center;
    margin: 0 0;
}

.lead__image {
    width: 100%;
    height: 615px;
    margin: 64px auto 8px;
}

.caption {
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    align-self: start;
    margin: 0;
}

.intro {
    margin: 0 auto;
    padding: 92px 0;
    width: 984px;
}

.intro__title {
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    width: 690px;
    margin: 0;
}

.intro__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    width: 690px;
    margin: 40px 0 33px;
}

.intro__list {
    width: 690px;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

.intro__list_item {
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
}

.photo-grid {
    display: grid;
    grid-template-columns: 284px 284px 284px 284px;
    grid-template-rows: 213px 213px 213px;
    gap: 16px;
}

.photo-grid__item {
    width: 100%;
    height: 100%;
}

/* @media screen and (max-width: 1024px) {

   
    .photo-grid {
        width: 1184px;
        height: 671px;
        display: grid;
        width: 300px;
        height: 225px;
        grid-template-columns: 284px 284px 284px;
        grid-template-rows: 213px 213px 213px 213px;
        gap: 16px;
    }

} */

.places {
    width: 984px;
    display: grid;
    margin: 0 auto;
    padding: 92px 0 0;
    gap: 80px;
}

.place {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 48px 40px;
}

.place__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    grid-row: 1;
    grid-column: 1;
    margin: 0 0;
}

.place__image {
    width: 460px;
    height: 460px;
    grid-row: 2;
    grid-column: 1;
}

.place__website {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.place__url-heading {
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #aaa;
    margin: 0;
}

.place__link {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #fff;
    margin-top: 12px;
}

.place__paragraphs {
    width: 484px;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    grid-row: 2;
    grid-column: 2;
}

.place__paragraph {
    margin: 0 0 26px;
}


.cover {
    width: 1184px;
    min-height: 740px;
    margin: 92px auto;
    /* padding: 92px 0; */
    position: relative;
}

.cover__link {
    color: #fff;
    text-decoration: none;
}

.cover__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    width: 560px;
    z-index: 3;
    text-align: center;
    margin: 0 0;
}

.cover__subtitle {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    width: 360px;
    z-index: 3;
    text-align: center;
    margin: 32px 0 0;
}

.cover__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background-color: rgba(41, 43, 46, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cover__overlay:hover {
    background-color: rgba(41, 43, 46, 0.8);
}

.cover__background {
    width: 100%;
    height: 100%;
    background-image: url(../images/cover-trains.jpg);
    position: absolute;
    z-index: 1;
    background-size: cover;
}

.footer {
    width: 1184px;
    min-height: 18px;
    display: flex;
    margin: 0 auto;
    padding: 0 0 24px;
}

.footer__link {
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    text-decoration-line: none;
    margin-right: 18px;
}

.footer__link:last-of-type {
    margin-right: 0;
}

.footer__copyright {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 0 auto;
}


/* @media screen and (min-width: 1024px) {
    .page {
        width: 1024px;
    }
}

@media screen and (min-width: 768px) {
    .page {
        width: 768px;
    }
}

@media screen and (min-width: 320px) {
    .page {
        width: 320px;
    }
} */

/* @ .page-big {
    background-color: #2A2C2F;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* @media screen and (min-width: 1281px) {
    .page-big {
        min-width: 1281px;
    } */



/* @media screen and (min-width: 1024px) and (max-width: 1279px) {
        .header {
            min-width: 928px;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        .header {
            min-width: 720px;
        }
    }

    @media screen and (min-width: 320px) and (max-width: 767px) {
        .header {
            min-width: 288px;
        }
    } */